*{
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.main-table {
    text-align: center;
    position: relative;
}

.main-table td,
tr {
    padding: 5px 7px;
    border: 1px solid rgb(179, 179, 179);
}
.main-table input{
    width: 40px;
} 
.table {
    display: block;
    text-align: center;
    position: relative;
    border: 2px;
    left: 10px;
  }
  .table td,
  th {
    padding: 4px 15px;
    border: 1px solid #ccc;
  }
  .table td {
    background: #84aacc;
    border-radius: 7px;
    text-align-last: center;
  }
  .table td.t0 {
    border-radius: 4px;
  }
  .table td.t1{
    background: #d5d1d1;;
  }
  .text {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
  }
  .designations {
    width: 30%;
    float: right;
    font-size: 15px;
  }